@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;500;700&display=swap');

// font-family: 'Karla', sans-serif;

$danger: rgb(227, 29, 29);
$font-family-base: 'Karla', sans-serif;
$success: rgb(20%, 89%, 19%);

@import "../node_modules/bootstrap/scss/bootstrap";
